<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IMyService">
                    <security mode="None">
                    </security>
                </binding>
            </netNamedPipeBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IMyService">
                    <security mode="None">
                    </security>
                </binding>
            </wsDualHttpBinding>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMyService">
                    <security mode="None">
                    </security>
                </binding>
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IMyService">
                    <security mode="None">
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint name="pipe" contract="IMyService" address="http://localhost/MyService/pipe" binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IMyService" />
            <endpoint name="dual" contract="IMyService" address="http://localhost:8000/MyService/dual" binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IMyService" />
            <endpoint name="basic" contract="IMyService" address="http://localhost:8000/MyService/basic" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMyService" />
            <endpoint name="tcp" contract="IMyService" address="net.tcp://localhost:8002/MyService/tcp" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMyService" />
        </client>
    </system.serviceModel>
</configuration>
