<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <system.serviceModel>
        <services>
            <service name="WcfMonoService.MyService" behaviorConfiguration="MyServiceBehaviors" >
                <endpoint contract="WcfMonoService.IMyService" binding="netNamedPipeBinding" address="net.pipe://localhost/MyService/pipe" />
                <endpoint contract="WcfMonoService.IMyService" binding="wsDualHttpBinding" address="http://localhost:8000/MyService/dual" />
                <endpoint contract="WcfMonoService.IMyService" binding="basicHttpBinding" address="http://localhost:8000/MyService/basic" />
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior name="MyServiceBehaviors" >
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>
</configuration>